# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
env/
venv/

# OS/system files
.DS_Store
Thumbs.db
AppData/

# Logs & temp files
*.log
*.tmp

# DVC data
data/*
!data/*.dvc
!data/.gitignore

*.csv
*.pkl
*.zip


# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Hugging Face / ML cache
.cache/
transformers_cache/
